@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #BAD4AA;
  color: #2E382E;
  font-family: 'Roboto', sans-serif;
  min-height: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  margin: 0 auto 100px;
}

.button-links-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: 350px;
}

.button-links button {
  display: inline-block;
  margin: 10px auto;
  width: 235px;
  height: 50px;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #2E382E;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-links button:hover {
  font-weight: bold;
  font-size: 1.1rem;
}

.homepage-wrapper {}

.intro-block {
  text-align: center;
}

.intro-note {
  margin: 50px auto;
  width: 95%;
}

@media only screen and (max-width: 1000px) {
  .button-links {
    grid-template-columns: 1fr;
  }
}
